@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: "Poppins", sans-serif;
}
/* shared style */
*{
  margin: 0 auto;
}
.nav-bar{

}
.nav-bar{
  width: 90%;
  margin-top: 2rem;
  
}

.display-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 6rem;
  

}
/* header style */
/* navbar related style */
.nav-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  color: black;
}
.span{
  color: rgb(255, 84, 14);
}
.banner-container{
  display: flex;
   justify-content:space-evenly; 
  align-items: center; 
  margin-top: 2rem;
} 
.banner-content{

 color: rgb(58, 58, 58);;
}
.banner-btn{
  width: 25vh;
  height: 5vh;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  color: white;
  background: rgb(224, 44, 109);
  margin-top: 2rem;
}
.banner-content h1{
  font-size: 3rem;
  font-weight: 900;
}
.banner-content p{
  width: 500px;
  font-size: 1rem;
  color: rgb(58, 58, 58);
}
.banner-image{
  padding-right: 4em;
}

 


